body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    /* gap: 1px; */
    height: 480px;
    width: 480px;
    margin: 12px;
}

.row {
    display: flex;
    flex: 1;
    height: 80px;
    /* gap: 1px; */
}

.container .row div {
    background-color: aqua;
    flex: 1;
}

.container .row div.on {
    background-color: black;
}

.grid-size-button {
    padding: 18px;
}