body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
}

.container {
    display: flex;
    flex-direction: column;
    /* gap: 1px; */
    height: 480px;
    width: 480px;
    margin: 12px;
    background-color: black;
}

.row {
    display: flex;
    flex: 1;
    height: 80px;
    /* gap: 1px; */
}

.container .row div {
    flex: 1;
}

.grid-size-button {
    padding: 18px;
    margin-bottom: 8px;
    background-color:darkslategrey;
    /* font-size: 18px; */
    font-weight: bold;
}

.checkboxes {
    display: flex;
    width: 480px;
    justify-content: space-evenly;
    font-weight: bold;
}

h1 {
    font-size: 48px;
    color:darkslategrey;
}